# ----------------------------
# Dataset and embeddings
# ----------------------------
dataset: plants        # Default, overridden by sweep
vectors_name: vectors_bioclip # Default, overridden by sweep
use_species: False #with vectors_name: vectors
difference: False #If using mixed_HDF5Dataset, in the contrastive case, can be overriden by sweep

shuffle: True
train_ratio: 0.8
sort_duplicates: True 
drop_last: True
dataset_type: mixed_HDF5Dataset #ordered_HDF5Dataset

paths:
  arthropods:
    data: Embeddings_and_dictionaries/arthropods/embeddings_inaturalist_FR_arthropods.h5
    specie_data: Embeddings_and_dictionaries/arthropods/species_embeddings_inaturalist_FR_arthropods.h5
    dict: Embeddings_and_dictionaries/arthropods/dictionary_inaturalist_FR_arthropods
  mushrooms:
    data: Embeddings_and_dictionaries/mushrooms/embeddings_inaturalist_FR_mushrooms.h5
    specie_data: Embeddings_and_dictionaries/mushrooms/species_embeddings_inaturalist_FR_mushrooms.h5
    dict: Embeddings_and_dictionaries/mushrooms/dictionary_inaturalist_FR_mushrooms
  plants:
    data: Embeddings_and_dictionaries/plants/embeddings_inaturalist_FR_plants.h5
    specie_data: Embeddings_and_dictionaries/plants/species_embeddings_inaturalist_FR_plants.h5
    dict: Embeddings_and_dictionaries/plants/dictionary_inaturalist_FR_plants

  pl@ntnet: #meaning, pl@ntnet with bioclip encoder: vector name: "vectors"
    data: Embeddings_and_dictionaries/Plantnet_old/Bioclip_encoder/bioCLIP_full_dataset_embeddings.h5
    specie_data: Embeddings_and_dictionaries/Plantnet_old/Bioclip_encoder/bioCLIP_species_embeddings.h5
    dict: Embeddings_and_dictionaries/Plantnet_old/Bioclip_encoder/bioclip_data_dictionary_all_taxons



# ----------------------------
# Training hyperparameters
# ----------------------------
drop_high_freq: False         # Default, overridden by sweep 


training:
  epochs: 40
  batch_size: 4096
  lr: 0.0001                
  device: cuda
  saving_frequency: 1
  nbr_checkpoints: 20
  test_frequency: 1
  nbr_tests: 10
  
# ----------------------------
# Model
# ----------------------------
model_name: contrastive  

model_params:
  pretrained_geoclip_encoder: False

  contrastive:
    modalities: #yaml list, will be loaded as a python list
      - images
      - coords
    embedding_size: 1536 #2*768
  classifier:
    class_column: species
    loss: "MSE" #"cross_entropy", MSE
    n_species: null #None in python, defaults to all species
    target: embeddings              #embeddings, specie_names

# ----------------------------
# Optional: save name pattern
# ----------------------------
run_name: "species_and_images_embeddings_contrastive"

wandb:
  project: contrastive_learning
  entity: adammenoud


