# ----------------------------
# Dataset and embeddings
# ----------------------------
dataset: plants          # Default, overridden by sweep
vectors_name: vectors_bioclip # Default, overridden by sweep
use_species: False

shuffle: True
train_ratio: 0.8
sort_duplicates: True 
drop_last: True
dataset_type: ordered_HDF5Dataset

paths:
  arthropods:
    data: Embeddings_and_dictionaries/arthropods/embeddings_inaturalist_FR_arthropods.h5
    specie_data: Embeddings_and_dictionaries/arthropods/species_embeddings_inaturalist_FR_arthropods.h5
    dict: Embeddings_and_dictionaries/arthropods/dictionary_inaturalist_FR_arthropods
  mushrooms:
    data: Embeddings_and_dictionaries/mushrooms/embeddings_inaturalist_FR_mushrooms.h5
    specie_data: Embeddings_and_dictionaries/mushrooms/species_embeddings_inaturalist_FR_mushrooms.h5
    dict: Embeddings_and_dictionaries/mushrooms/dictionary_inaturalist_FR_mushrooms
  plants:
    data: Embeddings_and_dictionaries/plants/embeddings_inaturalist_FR_plants.h5
    specie_data: Embeddings_and_dictionaries/plants/species_embeddings_inaturalist_FR_plants.h5
    dict: Embeddings_and_dictionaries/plants/dictionary_inaturalist_FR_plants


# ----------------------------
# Training hyperparameters
# ----------------------------
drop_high_freq: False         # Default, overridden by sweep 


training:
  epochs: 120
  batch_size: 4096
  lr: 0.0001                
  device: cuda
  saving_frequency: 1
  nbr_checkpoints: 120
  test_frequency: 1
  nbr_tests: 10
  
# ----------------------------
# Model
# ----------------------------
model_name: contrastive

model_params:
  pretrained_geoclip_encoder: False

  contrastive:
    modalities: #yaml list, will be loaded as a python list
      - images
      - coords
  classifier:
    class_column: species
    loss: "cross_entropy"
    #encoded_size: 256  #encoding dimension for each sigma frequency
    #hidden_layers: [256, 256, 256]
    n_species: None

# ----------------------------
# Optional: save name pattern
# ----------------------------
run_name: "run_failed_relaunch"
wandb:
  project: contrastive_learning
  entity: adammenoud


