# ----------------------------
# Dataset and embeddings
# ----------------------------
dataset: mushrooms        # Default, overridden by sweep
vectors_name: vectors_bioclip # Default, can be overridden by sweep
use_species: False #with vectors_name: vectors


mixed_embeddings: True #uses both the image and species embeddings for training. Operation between those are handled in the "mixed_HDF5Dataset" class
mixed_data_method: difference #overridden

shuffle: True
train_ratio: 0.8
sort_duplicates: True 
drop_last: True
dataloader_workers: 16

paths:
  arthropods:
    data: Embeddings_and_dataframes/arthropods/embeddings_inaturalist_FR_arthropods.h5
    specie_data: Embeddings_and_dataframes/arthropods/species_embeddings_inaturalist_FR_arthropods.h5
    dict: Embeddings_and_dataframes/arthropods/dictionary_inaturalist_FR_arthropods
  mushrooms:
    data: Embeddings_and_dataframes/mushrooms/embeddings_inaturalist_FR_mushrooms.h5
    specie_data: Embeddings_and_dataframes/mushrooms/species_embeddings_inaturalist_FR_mushrooms.h5
    dict: Embeddings_and_dataframes/mushrooms/dictionary_inaturalist_FR_mushrooms
  plants:
    data: Embeddings_and_dataframes/plants/embeddings_inaturalist_FR_plants.h5
    specie_data: Embeddings_and_dataframes/plants/species_embeddings_inaturalist_FR_plants.h5
    dict: Embeddings_and_dataframes/plants/dictionary_inaturalist_FR_plants

  pl@ntnet: #meaning, pl@ntnet with bioclip encoder: vector name: "vectors"
    data: Embeddings_and_dataframes/Plantnet_old/Bioclip_encoder/bioCLIP_full_dataset_embeddings.h5
    specie_data: Embeddings_and_dataframes/Plantnet_old/Bioclip_encoder/bioCLIP_species_embeddings.h5
    dict: Embeddings_and_dataframes/Plantnet_old/Bioclip_encoder/bioclip_data_dictionary_all_taxons



# ----------------------------
# Training hyperparameters
# ----------------------------
drop_high_freq: True         # Default, overridden by sweep 


training:
  epochs: 40
  batch_size: 4096
  lr: 0.0001                
  device: cuda
  saving_frequency: 1
  nbr_checkpoints: 10
  test_frequency: 1
  nbr_tests: 10
# ----------------------------
# Model
# ----------------------------
model_name: contrastive  

model_params:
  pretrained_geoclip_encoder: False

  contrastive:
    modalities: #yaml list, will be loaded as a python list
      - images
      - coords
    contrastive_embedding_size: 512
  classifier:
    class_column: species
    loss: "MSE" #"cross_entropy", MSE
    n_species: null #None in python, defaults to all species
    target: embeddings              #embeddings, specie_names

# ----------------------------
# Save
# ----------------------------
run_name: "sweep_mixed_embeddings"

wandb:
  project: contrastive_learning #overidden by sweep
  entity: adammenoud


